@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
--fonte-padrao: "Passion One", sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body { 
    min-height: 100vh;
    background-color: darkgray;

}

header { 

    background-color: black;
    color: white;
    text-align: center;
    
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;


}

header > p { 
    padding-bottom: 50px;
}

header a, footer a { 
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;


}

header a:hover, footer a:hover { 
    text-decoration: underline;

}


#p2 { 
    height: 500px;
    font-size: 1.5em;

    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagens/background001.jpg);

    color: white;


}


#p5 { 
    height: 500px;
    font-size: 1.5em;

    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagens/background002.jpg);

    color: white;


}

section { 
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}

section.normal { 
    background-color: white;
    color: black;

}

section.imagem {
    background-color: gray;
    color: white;
}

section.imagem > p { 
    background-color: rgba(0, 0, 0, 0.233);
    width: 400px;

}


footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}